$lightBlack: #212121;
$white: #fafafa;
$gray: #f0f0f0;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: $white;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing {
  width: 100%;
}

.logo {
  width: 60px;
}

.chat-input {
  width: 500px;
  height: 45px;
  padding: 0 15px;
  background-color: $gray;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
}
