$lightBlack: #212121;
$white: #fafafa;
$gray: #f0f0f0;
$darkGray: #b3b3b3;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
}

.message-container {
  margin-top: 20px;
}

.answer {
  margin-top: 20px;
}

.input-container {
  width: 100%;
  max-width: 410px;
  height: 45px;
  padding: 0 15px;
  background-color: $gray;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-top: 30px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &.has-input {
    background-color: $white;
  }
}

.input-box {
  flex-grow: 1;
}

.chat-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 25px;
  padding: 0 15px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 12px;
  }
}

.submit {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 25px;
  background-color: $darkGray;
  color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  img {
    width: 100%;
    height: 100%;
  }

  &.active,
  &:hover {
    background-color: $white;
    color: $darkGray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.examples {
  margin-top: 20px;
  display: flex;

  .example-question {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $darkGray;
    margin: 0 10px;
    font-size: 12px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  margin-top: 40px;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

.typing-circle-1 {
  background-color: #e93135;
  left: 15%;
}

.typing-circle-2 {
  background-color: #006cb5;
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle-3 {
  background-color: #67bee5;
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.typing-shadow {
  width: 1px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

.typing-shadow-1 {
  left: 15%;
}

.typing-shadow-2 {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow-3 {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
